# Panda PyCity

## Shiuli Ganguly

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## Calculate the total number of schools

In [2]:
school_data_df.shape
# Calculate the total number of Schools 15

len(student_data_df["school_name"].unique())
total_schools=len(school_data_df["school_name"].unique())
total_schools
school_name=student_data_df["school_name"].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

## Calculate the total number of students

In [3]:
# Calculate the total number of students 39170
student_count = len(student_data_df)
student_count

39170

## Calculate the total budget

In [4]:
# Calculate the total budget 24649428
school_data_df["budget"].sum()
total_budget = school_data_df["budget"].sum()
total_budget

24649428

## Calculate the average math score

In [5]:
# Calculate the average math score by school
school_math_average = student_data_df.groupby("school_name")['math_score'].mean()

In [6]:
# Calculate the average math score by school
student_data_df.groupby("school_name")

# Calculate the average math score
student_data_df["math_score"]

# Calculate the average math score
student_data_df["math_score"].describe()

# Double Check Average Math Score
average_math_score = student_data_df['math_score'].sum()/(len(student_data_df))
print("Average Math Score")
average_math_score

Average Math Score

78.98537145774827

## Calculate the average reading score

In [7]:
# Calculate the average reading score by school
school_reading_average = student_data_df.groupby("school_name")['reading_score'].mean()

In [8]:
# Calculate the average reading score
student_data_df["reading_score"].describe()

# Calculate the average reading score 
student_data_df["reading_score"].mean()
# Calculate the average reading score
average_reading_score = student_data_df["reading_score"].sum()/len(student_data_df)
print("Average Reading Score")
average_reading_score

Average Reading Score

81.87784018381414

## Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

In [9]:
# Calculate the overall average score by school

# Merge school_math_average and school_reading_average
school_overall_average = pd.merge(school_math_average, school_reading_average, on='school_name', how='outer')
school_overall_average["Overall Average"]=(school_overall_average["math_score"]+school_overall_average["reading_score"])/2
school_overall_average["Overall Average"]

school_name
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
Name: Overall Average, dtype: float64

In [10]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_average_score = (average_math_score + average_reading_score)/2
print("Overall Average Score ")
overall_average_score

Overall Average Score

80.43160582078121

## Calculate the percentage of students with a passing math score (70 or greater)

In [11]:
# Calculate the percentage of students with a passing math score (70 or greater)
cond_math = (student_data_df["math_score"] >= 70)

In [12]:
# Calculate the percentage of students with a passing math score (70 or greater) 29370
# Define a condition
cond_math = (student_data_df["math_score"] >= 70)

student_math70plus_df = student_data_df[cond_math]
student_math70plus_df.head()

# Calculate the percentage of students with a passing math score (70 or greater) 29370
# Total Number of Students with a Math Score of 70 or greater 29370
#student_data_df[cond_math].shape

# Calculate the percentage of students with a passing math score (70 or greater)
math70_percent = len(student_math70plus_df)/len(student_data_df)*100
math70_percent

74.9808526933878

## Calculate the percentage of students with a passing reading score (70 or greater)

In [13]:
# Calculate the percentage of students with a passing reading score (70 or greater) 33610
cond_reading = (student_data_df["reading_score"] >= 70)

student_reading70plus_df = student_data_df[cond_reading]
student_reading70plus_df.head()

# Calculate the percentage of students with a passing reading score (70 or greater) 33610
reading70_percent = len(student_data_df[cond_reading])/len(student_data_df) *100
reading70_percent

85.80546336482001

## Create a dataframe to hold the above results

In [14]:
district_summary_data ={"District": "District ThisOne", \
                        "Total Schools":total_schools, \
                        "Total Student Count":student_count, \
                        "Total Budget":total_budget, \
                        "Average Math Score":average_math_score, \
                        "Average Reading Score":average_reading_score, \
                        "Student Percent Passing Math":math70_percent,\
                        "Student Percent Passing Reading":reading70_percent, \
                        "Overall Average Score":overall_average_score
                    }


district_summary_df = pd.DataFrame([district_summary_data])
district_summary_df
district_summary_df = district_summary_df.set_index("District")
district_summary_df.head()

,Total Schools,Total Student Count,Total Budget,Average Math Score,Average Reading Score,Student Percent Passing Math,Student Percent Passing Reading,Overall Average Score
District,,,,,,,,
District ThisOne,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## District Data for Display

In [17]:
district_display ={"District": "District ThisOne", \
                    "Total Schools":str(total_schools)+" Schools", \
                    "Total Student Count":str(round(student_count,0)), \
                        "Total Budget":"$"+ str(total_budget), \
                        "Average Math Score":int(average_math_score), \
                        "Average Reading Score":int(average_reading_score), \
                        "Student Percent Passing Math":int(math70_percent), \
                        "Student Percent Passing Reading":int(reading70_percent), \
                        "Overall Average Score":int(overall_average_score)
                    }

district_display_df = pd.DataFrame([district_display])
district_display_df = district_display_df.set_index("District")
district_display_df

,Total Schools,Total Student Count,Total Budget,Average Math Score,Average Reading Score,Student Percent Passing Math,Student Percent Passing Reading,Overall Average Score
District,,,,,,,,
District ThisOne,15 Schools,39170,$24649428,78,81,74,85,80

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## School Summary

In [15]:
#school_data_df = pd.read_csv(school_data_to_load)
#student_data_df = pd.read_csv(student_data_to_load)

In [16]:
# New Column: Per Student Budget
# school_size should not be ZERO
# condition_nonZero
condition_nonZero = (school_data_df["size"]!=0)
school_df= school_data_df[condition_nonZero]
school_df["Per Student Budget"]= school_df["budget"]/school_df["size"]
school_df

,School ID,school_name,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

## Create a DataFrame to Examine School Metric

In [17]:
school_metric_data=pd.DataFrame()

In [18]:
# Merge school_df and student_data_df on key: school_name
school_merge_df = pd.merge(school_df, student_data_df, on=["school_name"], how="left")
school_merge_df.shape

(39170, 12)

In [19]:
cols = ["school_name", "type", "size", "budget", "Per Student Budget", "grade", "reading_score", "math_score"]
school_merge_df[cols].head()
school_analysis = school_merge_df[cols]
school_analysis.shape
school_analysis.head()
school_analysis.set_index("school_name")
school_analysis.head()

,school_name,type,size,budget,Per Student Budget,grade,reading_score,math_score
0,Huang High School,District,2917,1910635,655.0,9th,66,79
1,Huang High School,District,2917,1910635,655.0,12th,94,61
2,Huang High School,District,2917,1910635,655.0,12th,90,60
3,Huang High School,District,2917,1910635,655.0,12th,67,58
4,Huang High School,District,2917,1910635,655.0,9th,97,84

## Percent Passing Math

In [20]:
school_count=school_analysis.groupby("school_name").count()
#school_count =school_analysis["school_name"].value_counts()
school_analysis["school_name"].value_counts()
school_count["type"]

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: type, dtype: int64

## Average Math Scores

In [21]:
school_math=school_analysis.groupby("school_name")["math_score"]
school_math.mean()


school_metric_data["Average Math Score"]=school_math.mean()

In [22]:
condition_percent_m = (school_analysis["math_score"]>=70)
school_percent_math=school_analysis[condition_percent_m].groupby("school_name").count()
school_percent_math["type"]

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: type, dtype: int64

## Calculate Percent Passing Math only

In [23]:
school_percent_math= school_percent_math["type"]/school_count["type"]*100
#school_metric_data["Percent Passing Math"]=school_percent_math
school_percent_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: type, dtype: float64

## Average Reading Scores

In [24]:
school_read=school_analysis.groupby("school_name")["reading_score"]
#school_read.mean()

#school_metric_data["Average Reading Score"]=school_read.mean()

## Percent Passing Reading

In [25]:
condition_percent_r = (school_analysis["reading_score"]>=70)
school_percent_r=school_analysis[condition_percent_r]
school_percent_r.groupby("school_name").count()
school_percent_read=school_percent_r.groupby("school_name").count()
school_percent_read["type"]

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: type, dtype: int64

## Calculate Percent Passing Reading only

In [26]:
school_percent_read = (school_percent_read["type"]/school_count["type"])*100

#school_metric_data["Percent Passing Reading"]=school_percent_read

## Percent Passing Both Reading and Math

In [27]:
condition_percent_r = (school_analysis["reading_score"]>=70)
condition_percent_m = (school_analysis["math_score"]>=70)
condition_percent_both = condition_percent_r & condition_percent_m

school_percent_analysis=school_analysis[condition_percent_both]
school_percent_analysis.groupby("school_name").count()
school_percent_both = school_percent_analysis["school_name"].value_counts()

school_percent_both

Bailey High School       2719
Johnson High School      2549
Hernandez High School    2481
Rodriguez High School    2119
Wilson High School       2068
Cabrera High School      1697
Wright High School       1626
Shelton High School      1583
Figueroa High School     1569
Huang High School        1561
Ford High School         1487
Thomas High School       1487
Griffin High School      1330
Pena High School          871
Holden High School        381
Name: school_name, dtype: int64

## Calculate Percent Passing Both Reading and Math

In [28]:
school_percent_both = (school_percent_both/school_count)*100
#school_metric_data["Overall Passing Rate"]=school_percent_both

In [29]:
#school_df

In [30]:
#school_metric_data=pd.DataFrame()

## DataFrame to Hold School Metric

In [31]:
school_metric_data["Average Reading Score"]=school_read.mean()
school_metric_data["Average Math Score"]=school_math.mean()
school_metric_data["Percent Passing Reading"]=school_percent_read
school_metric_data["Percent Passing Math"]=school_percent_math


#No Formatting
school_metric_data

,Average Math Score,Average Reading Score,Percent Passing Reading,Percent Passing Math
school_name,,,,
Bailey High School,77.048432,81.033963,81.933280,66.680064
Cabrera High School,83.061895,83.975780,97.039828,94.133477
Figueroa High School,76.711767,81.158020,80.739234,65.988471
Ford High School,77.102592,80.746258,79.299014,68.309602
Griffin High School,83.351499,83.816757,97.138965,93.392371
Hernandez High School,77.289752,80.934412,80.862999,66.752967
Holden High School,83.803279,83.814988,96.252927,92.505855
Huang High School,76.629414,81.182722,81.316421,65.683922
Johnson High School,77.072464,80.966394,81.222432,66.057551
Pena High School,83.839917,84.044699,95.945946,94.594595
Rodriguez High School,76.842711,80.744686,80.220055,66.366592
Shelton High School,83.359455,83.725724,95.854628,93.867121
Thomas High School,83.418349,83.848930,97.308869,93.272171
Wilson High School,83.274201,83.989488,96.539641,93.867718
Wright High School,83.682222,83.955000,96.611111,93.333333

In [32]:
school_metric_data["Overall Passing Rate"]=(school_metric_data["Percent Passing Math"]+school_metric_data["Percent Passing Reading"])/2

In [33]:
school_metric_data

,Average Math Score,Average Reading Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
school_name,,,,,
Bailey High School,77.048432,81.033963,81.933280,66.680064,74.306672
Cabrera High School,83.061895,83.975780,97.039828,94.133477,95.586652
Figueroa High School,76.711767,81.158020,80.739234,65.988471,73.363852
Ford High School,77.102592,80.746258,79.299014,68.309602,73.804308
Griffin High School,83.351499,83.816757,97.138965,93.392371,95.265668
Hernandez High School,77.289752,80.934412,80.862999,66.752967,73.807983
Holden High School,83.803279,83.814988,96.252927,92.505855,94.379391
Huang High School,76.629414,81.182722,81.316421,65.683922,73.500171
Johnson High School,77.072464,80.966394,81.222432,66.057551,73.639992
Pena High School,83.839917,84.044699,95.945946,94.594595,95.270270
Rodriguez High School,76.842711,80.744686,80.220055,66.366592,73.293323
Shelton High School,83.359455,83.725724,95.854628,93.867121,94.860875
Thomas High School,83.418349,83.848930,97.308869,93.272171,95.290520
Wilson High School,83.274201,83.989488,96.539641,93.867718,95.203679
Wright High School,83.682222,83.955000,96.611111,93.333333,94.972222

In [34]:
#school_metric_display
# Use Pandas .style.format method to change the display
school_metric_data.style.format("{:.0f}%")

In [35]:
school_metric_data = pd.merge(school_df, school_metric_data, on="school_name", how="left")
school_metric_data

,School ID,school_name,type,size,budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
0,0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,81.316421,65.683922,73.500171
1,1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,80.739234,65.988471,73.363852
2,2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,95.854628,93.867121,94.860875
3,3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,80.862999,66.752967,73.807983
4,4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,97.138965,93.392371,95.265668
5,5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,96.539641,93.867718,95.203679
6,6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,97.039828,94.133477,95.586652
7,7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,81.933280,66.680064,74.306672
8,8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,96.252927,92.505855,94.379391
9,9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,95.945946,94.594595,95.270270
10,10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,96.611111,93.333333,94.972222
11,11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,80.220055,66.366592,73.293323
12,12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,81.222432,66.057551,73.639992
13,13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,79.299014,68.309602,73.804308
14,14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,97.308869,93.272171,95.290520

In [ ]:
school_metric_data=school_metric_data.rename(columns={"school_name":"School Name", "type":"Type", "size":"Size", "budget":"Budget"})

In [ ]:
school_metric_data

## DataFrame to hold School Metric with some formatting

## Analyze 9th Grade Scores in each School

In [ ]:
condition_9th=(school_analysis["grade"]=="9th")
school_analysis_9th=school_analysis[condition_9th]
school_analysis_9th.head()
Grade_9th_total = len(school_analysis_9th)
print(Grade_9th_total)

school_analysis_9th.groupby("school_name")["reading_score"].describe()
school_analysis_9th.groupby("school_name")["math_score"].describe()
school_9th_reading = school_analysis_9th.groupby("school_name")["reading_score"].mean()
school_9th_math = school_analysis_9th.groupby("school_name")["math_score"].mean()

school_9th=pd.merge(school_9th_reading, school_9th_math, on=["school_name"], how="outer")
school_9th=school_9th.rename(columns={"reading_score":"Grade 9th Avg.Reading", "math_score":"Grade 9th Avg.Math"})

school_9th

In [ ]:
school_analysis_9th.groupby("school_name")["math_score"].describe()

In [ ]:
#school_9th
school_9th


cond_math = (school_9th["Grade 9th Avg.Math"] >= 70)
student_math70plus_df = school_9th[cond_math]
student_math70plus_df.head()


cond_read = (school_9th["Grade 9th Avg.Reading"] >= 70)
student_read70plus_df = school_9th[cond_read]
student_read70plus_df.head()


cond_both = cond_math & cond_read
student_9th_70plus = school_9th[cond_both]
student_9th_70plus

## Analyze 10th Grade Scores in each School

In [ ]:
condition_10th=(school_analysis["grade"]=="10th")
school_analysis_10th=school_analysis[condition_10th]
school_analysis_10th.head()
school_analysis_10th.groupby("school_name")["reading_score"].describe()
school_analysis_10th.groupby("school_name")["math_score"].describe()
school_10th_reading = school_analysis_10th.groupby("school_name")["reading_score"].mean()
school_10th_math = school_analysis_10th.groupby("school_name")["math_score"].mean()

school_10th=pd.merge(school_10th_reading, school_10th_math, on=["school_name"], how="outer")
school_10th=school_10th.rename(columns={"reading_score":"Grade 10th Avg.Reading", "math_score":"Grade 10th Avg.Math"})
school_10th

## Analyze 11th Grade Scores in each School

In [ ]:
condition_11th=(school_analysis["grade"]=="11th")
school_analysis_11th=school_analysis[condition_11th]
school_analysis_11th.head()
school_analysis_11th.groupby("school_name")["reading_score"].describe()
school_analysis_11th.groupby("school_name")["math_score"].describe()
school_11th_reading=school_analysis_11th.groupby("school_name")["reading_score"].mean()
school_11th_math=school_analysis_11th.groupby("school_name")["math_score"].mean()

school_11th=pd.merge(school_11th_reading, school_11th_math, on=["school_name"], how="outer")
school_11th=school_11th.rename(columns={"reading_score":"Grade 11th Avg.Reading", "math_score":"Grade 11th Avg.Math"})
school_11th

## Analyze 12th Grade Scores in each School

In [ ]:
condition_12th=(school_analysis["grade"]=="12th")
school_analysis_12th=school_analysis[condition_12th]
school_analysis_12th.head()
school_analysis_12th.groupby("school_name")["reading_score"].describe()
school_analysis_12th.groupby("school_name")["math_score"].describe()
school_12th_reading = school_analysis_12th.groupby("school_name")["reading_score"].mean()
school_12th_math = school_analysis_12th.groupby("school_name")["math_score"].mean()

school_12th=pd.merge(school_12th_reading, school_12th_math, on=["school_name"], how="outer")
school_12th=school_12th.rename(columns={"reading_score":"Grade 12th Avg.Reading", "math_score":"Grade 12th Avg.Math"})
school_12th

## Stitch Average Grades Together

In [ ]:
school_average_a = pd.merge(school_9th, school_10th, on="school_name", how="left")
school_average_a

school_average_b = pd.merge(school_11th, school_12th, on="school_name", how="left")
school_average_b

school_average = pd.merge(school_average_a, school_average_b, on="school_name", how="left")
school_average

In [ ]:
# Use Pandas .style.format method to change the display
school_average.style.format("{:.0f}%")

In [ ]:
school_average.style.format("{:.0f}%").background_gradient(subset=['Grade 9th Avg.Math','Grade 10th Avg.Math', 'Grade 11th Avg.Math', 'Grade 12th Avg.Math'], cmap='BuGn')

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [ ]:
#Sort by Overall Passing Rate
#then Display head(5)
#df.sort_values(by=['col1'])
top_five=school_metric_data.sort_values(by=["Overall Passing Rate"], ascending=False)
#top_five["school_name"]
#top_five.iloc[0]["school_name"]

top_five

In [ ]:
#Sort by Overall Passing Rate
#then Display head(5)
#df.sort_values(by=['col1'])

top_five["School Name"]
top_five.iloc[0]["School Name"]

space=" "
print("Top Five Schools (based on Overall Passing Rate)")
print("************************************************")
for i in range(5):
    print(top_five.iloc[i]["School Name"])

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
#Sort by Overall Passing Rate
#then Display 
bottom_five=school_metric_data.sort_values(by=["Overall Passing Rate"], ascending=True)
bottom_five

print("Bottom Five Schools (based on Overall Passing Rate)")
print("***************************************************")
for i in range(5):
    print(bottom_five.iloc[i]["School Name"])

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
math_only=pd.DataFrame()

school_9th_math
school_10th_math
school_11th_math
school_12th_math
math_only["Math 9th"]=school_9th_math
math_only["Math 10th"]=school_10th_math
math_only["Math 11th"]=school_11th_math
math_only["Math 12th"]=school_12th_math



math_only

## Reading Scores by Grade

In [ ]:
reading_only=pd.DataFrame()

school_9th_reading
school_10th_reading
school_11th_reading
school_12th_reading
reading_only["Reading 9th"]=school_9th_reading
reading_only["Reading 10th"]=school_10th_reading
reading_only["Reading 11th"]=school_11th_reading
reading_only["Reading 12th"]=school_12th_reading



reading_only

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
school_metric_data

# Slice the data and place it into bins
pd.cut(school_metric_data["Per Student Budget"], spending_bins, labels=group_names)

In [ ]:
school_metric_data["Spending Ranges(Per Student)"]=pd.cut(school_metric_data["Per Student Budget"], spending_bins, labels=group_names)

In [ ]:
# Create a GroupBy object
school_spending_group = school_metric_data.groupby("Spending Ranges(Per Student)")

In [ ]:
#school_spending_group.head()
# Get the average of each column within the GroupBy object
school_spending_group[["Average Math Score", "Average Reading Score","Percent Passing Math","Percent Passing Reading", "Overall Passing Rate"]].mean()

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
school_metric_data

# Slice the data and place it into bins
pd.cut(school_metric_data["Size"], size_bins, labels=group_names)

In [ ]:
school_metric_data["Scores by School Size"]=pd.cut(school_metric_data["Size"], size_bins, labels=group_names)

In [ ]:
#school_metric_data.head()

In [ ]:
# Create a GroupBy object based upon "View Group"
scores_bySize_group = school_metric_data.groupby("Scores by School Size")

In [ ]:
#scores_bySize_group.head()

In [ ]:
scores_bySize_group[["Average Math Score", "Average Reading Score","Percent Passing Math","Percent Passing Reading", "Overall Passing Rate"]].mean()

## Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Sample bins. Feel free to create your own bins.
school_metric_data.head()

In [ ]:


pd.Categorical(school_metric_data["Type"], categories=["District", "Charter"])

In [ ]:
school_metric_data["Scores by School Type"]=pd.Categorical(school_metric_data["Type"], categories=["Charter", "District"])

In [ ]:
# Create a GroupBy object 
scores_byType_group = school_metric_data.groupby("Scores by School Type")

In [ ]:
scores_byType_group[["Average Math Score", "Average Reading Score","Percent Passing Math","Percent Passing Reading", "Overall Passing Rate"]].mean()